@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-color: rgb(240, 240, 240);
    #all{
        text-align: center;
        margin: 200px;
        a{
            text-decoration: none;
        }
    }
}
