@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

#all{
    position: relative;
    width: 100%;
    margin: 200px 0 0 0;
    display: flex;
    justify-content: space-around;
    #form{
        box-sizing: border-box;
        height: 300px;
        position: fixed;
        left: 200px;
        h1{
            border-bottom: 1px solid black;
            margin: 0 0 20px 0;
        }
        form{
            .text{
                width: 400px;
                height: 200px;
                font-size: 16px;
            }
            button{
                display: block;
                background-color: rgb(0, 119, 255);
                color: rgb(255, 255, 255);
                border: none;
                width: 400px;
                height: 50px;
                margin: 20px 0 0 0;
                border-radius: 10px 10px;
                font-size: 24px;
            }
        }
    }
    #list{
        box-sizing: border-box;
        height: 800px;
        margin: 70px 100px 0 600px;
        text-align: center;
        ul{
            width: 100%;
            .mini_li{
                width: 100%;
                margin: 30px 0 30px 0;
                .li{
                    list-style: none;
                }
                .img{
                    position: relative;
                    width: 300px;
                    height: 200px;
                    border: 1px solid black;
                    margin: 0 auto;
                    img{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
                .msg{
                    width: 300px;
                }
            }
        }
    }
}