@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: rgb(240, 240, 240);
}

section{
    box-sizing: border-box;
    width: 100%;
    h1{
        width: 100%;
        margin: 200px 0 0 0;
        text-align: center;
    }
    h2{
        width: 100%;
        margin: 50px 0 0 0;
        text-align: center;
    }
    form{
        box-sizing: border-box;
        width: 100%;
        margin: 50px 0 0 0;
        text-align: center;
        div{
            justify-content: space-around;
            width: 50%;
            margin: 20px auto 20px auto;
            div{
                display: flex;
                justify-content: space-between;
                p{
                    text-align: left;
                    width: 130px;
                    border-bottom: 1px solid black;
                    font-size: 16px;
                }
                .name{
                    border: none;
                    text-align: right;
                }
                input{
                    justify-self: end;
                }
                .okmsg{
                    margin: 0 auto;
                    width: 300px;
                    text-align: center;
                }
            }
            .err{
                color: red;
                margin: 0 0 0 150px;
                text-align: center;
            }
        }
        button{
            margin: 20px 0 0 0;
            width: 150px;
            background-color: #fff;
        }
    }
    .msg{
        margin: 100px 0 0 0;
        text-align: center;
    }
}

